<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container mt-4">
    <h2>Новые задания</h2>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Состояние</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${newTasks}">
                <td th:text="${task.id}"></td>
                <td> <a th:text="${task.name}"
                        th:href="@{/tasks/{taskId}(taskId=${task.id})}"></a>
                </td>
                <td th:text="${#temporals.format(task.created, 'dd.MM.yyyy HH:mm')}"></td>
                <td th:text="${task.done} ? 'Выполнено' : 'Не выполнено'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <a th:href="@{/tasks/create}" class="btn btn-primary">Добавить задание</a>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>