<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container mt-4">
    <h2>New tasks</h2>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Creation date</th>
                <th scope="col">Status</th>
                <th scope="col">User name</th>
                <th scope="col">Priority</th>
                <th scope="col">Categories</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${newTasks}">
                <td th:text="${task.id}"></td>
                <td> <a th:text="${task.name}"
                        th:href="@{/tasks/{taskId}(taskId=${task.id})}"></a>
                </td>
                <td th:text="${#temporals.format(task.created, 'dd.MM.yyyy HH:mm')}"></td>
                <td th:text="${task.done} ? 'Complete' : 'In process'"></td>
                <td th:text="${task.user.name}"></td>
                <td th:text="${task.priority.name}"></td>
                <td>
                    <span th:each="category, stat : ${task.categories}">
                        <span th:text="${category.name}"></span><span th:if="${!stat.last}">, </span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <a th:href="@{/tasks/create}" class="btn btn-primary">Add new task</a>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>